{% extends "base.twig" %}

{% block hero %}
	<div class="relative h-[500px] md:h-[600px] lg:h-[700px] w-screen bg-brand rounded-b-[50px] lg:rounded-b-[100px] overflow-hidden">
		{% include 'partial/image.twig' with {
            image: Image(fields.home_banner.background).src,
            alt: fields.home_banner.background.alt,
            class: 'object-cover object-center w-full h-full absolute top-0 left-0'
        } %}
		<div class="relative pt-12 container text-center flex flex-col gap-8 h-full text-white items-center justify-center">
			{% if fields.home_banner.heading %}
				<h1>{{ fields.home_banner.heading }}</h1>
			{% endif %}
			{% if fields.home_banner.subheading %}
				<h2 class="is-h4 font-normal">{{ fields.home_banner.subheading }}</h2>
			{% endif %}
			{% if fields.home_banner.button %}
				<a class="button" href="{{ fields.home_banner.button.url }}">{{ fields.home_banner.button.title }}</a>
			{% endif %}
		</div>
	</div>

{% endblock %}
{% block content %}
	<section class="introduction relative">
		{% include "icons/blob.twig" with { class: "absolute left-0 top-[25%]" } %}
		<div class="container flex max-lg:flex-col gap-6 lg:gap-20">
			<div class="block-content w-full">
				{{ fields.home_introduction.content }}
			</div>
			{% if fields.home_introduction.quote %}
				<div class="bg-white lg:w-1/2 border-2 border-brandBlue rounded-3xl p-8 text-xl flex items-center justify-center">
					<em>{{ fields.home_introduction.quote }}</em>
				</div>
			{% endif %}
		</div>
	</section>
	<section class="links !pt-0">
		<div class="container">
			<div class="bg-brand w-full p-8 rounded-3xl flex flex-col gap-8 text-center">
				<h4 class="text-white">How can we help you?</h4>
				<div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-10">
					<a class="bg-brandBlue duration-200 hover:bg-white rounded-2xl w-full flex flex-col overflow-hidden" href="{{ options.appointment_portal }}" target="_blank">
						<div class="p-6 flex items-center justify-center">{% include "icons/appointment.twig" with { class: "h-12 md:h-20" } %}</div>
						<span class="bg-brandGreen p-4 text-center text-white font-semibold font-heading">Book an Appointment</span>
					</a>
					<a class="bg-brandBlue duration-200 hover:bg-white rounded-2xl w-full flex flex-col overflow-hidden" href="/specialised-services">
						<div class="p-6 flex items-center justify-center">{% include "icons/services.twig" with { class: "h-12 md:h-20" } %}</div>
						<span class="bg-brandGreen p-4 text-center text-white font-semibold font-heading">Our Services</span>
					</a>
					<a class="bg-brandBlue duration-200 hover:bg-white rounded-2xl w-full flex flex-col overflow-hidden" href="/about-us">
						<div class="p-6 flex items-center justify-center">{% include "icons/team.twig" with { class: "h-12 md:h-20" } %}</div>
						<span class="bg-brandGreen p-4 text-center text-white font-semibold font-heading">Meet the Team</span>
					</a>
					<a class="bg-brandBlue duration-200 hover:bg-white rounded-2xl w-full flex flex-col overflow-hidden" href="/contact-us">
						<div class="p-6 flex items-center justify-center">{% include "icons/contact.twig" with { class: "h-12 md:h-20" } %}</div>
						<span class="bg-brandGreen p-4 text-center text-white font-semibold font-heading">Contact Us</span>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
